.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.709000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1d{margin-left:-4.766088px;}
._3{margin-left:-3.347434px;}
._1{margin-left:-1.482445px;}
._4{width:1.115811px;}
._11{width:3.148182px;}
._1c{width:8.464225px;}
._10{width:9.524256px;}
._7{width:12.497066px;}
._2{width:13.676667px;}
._18{width:14.704798px;}
._6{width:15.900310px;}
._1a{width:16.904550px;}
._0{width:17.932800px;}
._e{width:19.926800px;}
._9{width:27.277735px;}
._1b{width:33.432406px;}
._c{width:67.268982px;}
._8{width:89.939875px;}
._5{width:106.457866px;}
._19{width:117.847120px;}
._17{width:416.028997px;}
._a{width:430.910471px;}
._b{width:522.490666px;}
._f{width:765.528509px;}
._13{width:772.841639px;}
._12{width:788.498350px;}
._14{width:817.581513px;}
._d{width:893.563091px;}
._15{width:897.884054px;}
._16{width:950.526462px;}
.fc1{color:rgb(0,173,239);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:27.895200px;}
.fs1{font-size:39.850400px;}
.fs0{font-size:47.820800px;}
.y79{bottom:75.210000px;}
.y51{bottom:100.185000px;}
.y77{bottom:107.090000px;}
.y78{bottom:110.705000px;}
.y50{bottom:112.141000px;}
.y25{bottom:112.999000px;}
.y76{bottom:119.045000px;}
.y24{bottom:124.954000px;}
.y4f{bottom:128.081000px;}
.y4e{bottom:140.036000px;}
.y23{bottom:140.894000px;}
.y4d{bottom:151.991000px;}
.y22{bottom:152.849000px;}
.y75{bottom:152.918000px;}
.y4c{bottom:163.946000px;}
.y74{bottom:164.873000px;}
.y21{bottom:168.789000px;}
.y71{bottom:170.851000px;}
.y20{bottom:180.745000px;}
.y73{bottom:180.814000px;}
.y70{bottom:182.806000px;}
.y4b{bottom:187.857000px;}
.y72{bottom:192.769000px;}
.y6f{bottom:194.761000px;}
.y1f{bottom:196.685000px;}
.y4a{bottom:199.812000px;}
.y1e{bottom:208.640000px;}
.y49{bottom:211.767000px;}
.y1d{bottom:220.595000px;}
.y6e{bottom:221.730000px;}
.y48{bottom:223.722000px;}
.y1c{bottom:232.550000px;}
.y6d{bottom:233.685000px;}
.y47{bottom:247.632000px;}
.y1b{bottom:256.461000px;}
.y6c{bottom:257.595000px;}
.y46{bottom:259.588000px;}
.y1a{bottom:268.416000px;}
.y6b{bottom:269.550000px;}
.y45{bottom:275.528000px;}
.y6a{bottom:281.505000px;}
.y19{bottom:284.356000px;}
.y44{bottom:287.483000px;}
.y18{bottom:296.311000px;}
.y43{bottom:299.438000px;}
.y69{bottom:308.474000px;}
.y17{bottom:312.251000px;}
.y42{bottom:323.349000px;}
.y16{bottom:324.207000px;}
.y68{bottom:324.414000px;}
.y41{bottom:335.304000px;}
.y15{bottom:336.162000px;}
.y67{bottom:336.369000px;}
.y40{bottom:347.259000px;}
.y66{bottom:348.324000px;}
.y3f{bottom:359.214000px;}
.y14{bottom:363.130000px;}
.y65{bottom:364.265000px;}
.y13{bottom:375.085000px;}
.y3e{bottom:375.154000px;}
.y64{bottom:376.220000px;}
.y12{bottom:387.040000px;}
.y3d{bottom:387.109000px;}
.y63{bottom:388.175000px;}
.y11{bottom:398.996000px;}
.y3c{bottom:399.065000px;}
.y62{bottom:404.115000px;}
.y10{bottom:410.951000px;}
.y3b{bottom:411.020000px;}
.y61{bottom:416.070000px;}
.y60{bottom:428.025000px;}
.y3a{bottom:437.988000px;}
.y5f{bottom:443.966000px;}
.yf{bottom:449.874000px;}
.y39{bottom:449.943000px;}
.y5e{bottom:455.921000px;}
.ye{bottom:461.829000px;}
.y38{bottom:465.883000px;}
.y5d{bottom:467.876000px;}
.y37{bottom:477.839000px;}
.y5c{bottom:483.816000px;}
.yd{bottom:485.740000px;}
.y36{bottom:489.794000px;}
.y5a{bottom:495.771000px;}
.yc{bottom:497.695000px;}
.y5b{bottom:499.387000px;}
.y35{bottom:505.734000px;}
.y33{bottom:507.727000px;}
.y34{bottom:517.689000px;}
.y32{bottom:519.682000px;}
.yb{bottom:521.605000px;}
.y59{bottom:531.637000px;}
.ya{bottom:533.560000px;}
.y31{bottom:546.650000px;}
.y58{bottom:555.547000px;}
.y9{bottom:557.471000px;}
.y30{bottom:558.605000px;}
.y8{bottom:569.426000px;}
.y57{bottom:571.487000px;}
.y2f{bottom:574.545000px;}
.y2e{bottom:586.501000px;}
.y56{bottom:587.428000px;}
.y7{bottom:596.394000px;}
.y2d{bottom:598.456000px;}
.y55{bottom:599.383000px;}
.y6{bottom:608.349000px;}
.y54{bottom:611.338000px;}
.y2c{bottom:622.366000px;}
.y2b{bottom:634.321000px;}
.y53{bottom:638.306000px;}
.y2a{bottom:646.276000px;}
.y5{bottom:647.273000px;}
.y52{bottom:650.261000px;}
.y4{bottom:659.228000px;}
.y29{bottom:662.217000px;}
.y3{bottom:671.183000px;}
.y28{bottom:674.172000px;}
.y2{bottom:683.138000px;}
.y27{bottom:686.127000px;}
.y0{bottom:698.000000px;}
.y26{bottom:698.082000px;}
.y1{bottom:710.037000px;}
.h1{height:1.000000px;}
.h6{height:19.359269px;}
.h4{height:27.656178px;}
.h5{height:27.815579px;}
.h3{height:29.887800px;}
.h2{height:33.474560px;}
.h0{height:792.000000px;}
.w1{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x6{left:165.600000px;}
.x7{left:180.544000px;}
.x8{left:190.507000px;}
.xb{left:203.652000px;}
.x5{left:215.213000px;}
.x9{left:218.335000px;}
.x4{left:223.945000px;}
.xa{left:230.922000px;}
.x2{left:249.917000px;}
.x1{left:256.527000px;}
.x3{left:280.939000px;}
.xc{left:440.439000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1d{margin-left:-6.354784pt;}
._3{margin-left:-4.463245pt;}
._1{margin-left:-1.976593pt;}
._4{width:1.487748pt;}
._11{width:4.197575pt;}
._1c{width:11.285633pt;}
._10{width:12.699007pt;}
._7{width:16.662754pt;}
._2{width:18.235556pt;}
._18{width:19.606397pt;}
._6{width:21.200413pt;}
._1a{width:22.539399pt;}
._0{width:23.910400pt;}
._e{width:26.569067pt;}
._9{width:36.370313pt;}
._1b{width:44.576541pt;}
._c{width:89.691976pt;}
._8{width:119.919833pt;}
._5{width:141.943821pt;}
._19{width:157.129493pt;}
._17{width:554.705330pt;}
._a{width:574.547295pt;}
._b{width:696.654221pt;}
._f{width:1020.704679pt;}
._13{width:1030.455518pt;}
._12{width:1051.331134pt;}
._14{width:1090.108684pt;}
._d{width:1191.417454pt;}
._15{width:1197.178739pt;}
._16{width:1267.368617pt;}
.fs2{font-size:37.193600pt;}
.fs1{font-size:53.133867pt;}
.fs0{font-size:63.761067pt;}
.y79{bottom:100.280000pt;}
.y51{bottom:133.580000pt;}
.y77{bottom:142.786667pt;}
.y78{bottom:147.606667pt;}
.y50{bottom:149.521333pt;}
.y25{bottom:150.665333pt;}
.y76{bottom:158.726667pt;}
.y24{bottom:166.605333pt;}
.y4f{bottom:170.774667pt;}
.y4e{bottom:186.714667pt;}
.y23{bottom:187.858667pt;}
.y4d{bottom:202.654667pt;}
.y22{bottom:203.798667pt;}
.y75{bottom:203.890667pt;}
.y4c{bottom:218.594667pt;}
.y74{bottom:219.830667pt;}
.y21{bottom:225.052000pt;}
.y71{bottom:227.801333pt;}
.y20{bottom:240.993333pt;}
.y73{bottom:241.085333pt;}
.y70{bottom:243.741333pt;}
.y4b{bottom:250.476000pt;}
.y72{bottom:257.025333pt;}
.y6f{bottom:259.681333pt;}
.y1f{bottom:262.246667pt;}
.y4a{bottom:266.416000pt;}
.y1e{bottom:278.186667pt;}
.y49{bottom:282.356000pt;}
.y1d{bottom:294.126667pt;}
.y6e{bottom:295.640000pt;}
.y48{bottom:298.296000pt;}
.y1c{bottom:310.066667pt;}
.y6d{bottom:311.580000pt;}
.y47{bottom:330.176000pt;}
.y1b{bottom:341.948000pt;}
.y6c{bottom:343.460000pt;}
.y46{bottom:346.117333pt;}
.y1a{bottom:357.888000pt;}
.y6b{bottom:359.400000pt;}
.y45{bottom:367.370667pt;}
.y6a{bottom:375.340000pt;}
.y19{bottom:379.141333pt;}
.y44{bottom:383.310667pt;}
.y18{bottom:395.081333pt;}
.y43{bottom:399.250667pt;}
.y69{bottom:411.298667pt;}
.y17{bottom:416.334667pt;}
.y42{bottom:431.132000pt;}
.y16{bottom:432.276000pt;}
.y68{bottom:432.552000pt;}
.y41{bottom:447.072000pt;}
.y15{bottom:448.216000pt;}
.y67{bottom:448.492000pt;}
.y40{bottom:463.012000pt;}
.y66{bottom:464.432000pt;}
.y3f{bottom:478.952000pt;}
.y14{bottom:484.173333pt;}
.y65{bottom:485.686667pt;}
.y13{bottom:500.113333pt;}
.y3e{bottom:500.205333pt;}
.y64{bottom:501.626667pt;}
.y12{bottom:516.053333pt;}
.y3d{bottom:516.145333pt;}
.y63{bottom:517.566667pt;}
.y11{bottom:531.994667pt;}
.y3c{bottom:532.086667pt;}
.y62{bottom:538.820000pt;}
.y10{bottom:547.934667pt;}
.y3b{bottom:548.026667pt;}
.y61{bottom:554.760000pt;}
.y60{bottom:570.700000pt;}
.y3a{bottom:583.984000pt;}
.y5f{bottom:591.954667pt;}
.yf{bottom:599.832000pt;}
.y39{bottom:599.924000pt;}
.y5e{bottom:607.894667pt;}
.ye{bottom:615.772000pt;}
.y38{bottom:621.177333pt;}
.y5d{bottom:623.834667pt;}
.y37{bottom:637.118667pt;}
.y5c{bottom:645.088000pt;}
.yd{bottom:647.653333pt;}
.y36{bottom:653.058667pt;}
.y5a{bottom:661.028000pt;}
.yc{bottom:663.593333pt;}
.y5b{bottom:665.849333pt;}
.y35{bottom:674.312000pt;}
.y33{bottom:676.969333pt;}
.y34{bottom:690.252000pt;}
.y32{bottom:692.909333pt;}
.yb{bottom:695.473333pt;}
.y59{bottom:708.849333pt;}
.ya{bottom:711.413333pt;}
.y31{bottom:728.866667pt;}
.y58{bottom:740.729333pt;}
.y9{bottom:743.294667pt;}
.y30{bottom:744.806667pt;}
.y8{bottom:759.234667pt;}
.y57{bottom:761.982667pt;}
.y2f{bottom:766.060000pt;}
.y2e{bottom:782.001333pt;}
.y56{bottom:783.237333pt;}
.y7{bottom:795.192000pt;}
.y2d{bottom:797.941333pt;}
.y55{bottom:799.177333pt;}
.y6{bottom:811.132000pt;}
.y54{bottom:815.117333pt;}
.y2c{bottom:829.821333pt;}
.y2b{bottom:845.761333pt;}
.y53{bottom:851.074667pt;}
.y2a{bottom:861.701333pt;}
.y5{bottom:863.030667pt;}
.y52{bottom:867.014667pt;}
.y4{bottom:878.970667pt;}
.y29{bottom:882.956000pt;}
.y3{bottom:894.910667pt;}
.y28{bottom:898.896000pt;}
.y2{bottom:910.850667pt;}
.y27{bottom:914.836000pt;}
.y0{bottom:930.666667pt;}
.y26{bottom:930.776000pt;}
.y1{bottom:946.716000pt;}
.h1{height:1.333333pt;}
.h6{height:25.812358pt;}
.h4{height:36.874903pt;}
.h5{height:37.087439pt;}
.h3{height:39.850400pt;}
.h2{height:44.632747pt;}
.h0{height:1056.000000pt;}
.w1{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x6{left:220.800000pt;}
.x7{left:240.725333pt;}
.x8{left:254.009333pt;}
.xb{left:271.536000pt;}
.x5{left:286.950667pt;}
.x9{left:291.113333pt;}
.x4{left:298.593333pt;}
.xa{left:307.896000pt;}
.x2{left:333.222667pt;}
.x1{left:342.036000pt;}
.x3{left:374.585333pt;}
.xc{left:587.252000pt;}
}
