body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 0px;
  
}
a {
    text-decoration: none;
    color: DodgerBlue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}



.portrait {
  background-image: url('../img/anandimage.jpg');
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


.portrait1{
  background-image: url('../img/research_iot.jpg');
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 300px;
  width: 400px;
}

.portrait2{
  background-image: url('../img/logonew1.jpg');
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 50px;
  width: 400px;
}

.inner-left {
    float: left;
    width: 300px;
    background-color: white;
}

.inner-right {
    float: right;
    width: 300px;
    background-color: white;
}


ul.posts li {
    list-style: none;
}

li{
    margin-left: 40px;
}
