.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.709000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1c{margin-left:-4.766088px;}
._3{margin-left:-3.347434px;}
._1{margin-left:-1.482445px;}
._4{width:1.115811px;}
._11{width:3.148182px;}
._1b{width:8.464225px;}
._10{width:9.524256px;}
._7{width:12.497066px;}
._2{width:13.676667px;}
._19{width:14.712728px;}
._6{width:15.900310px;}
._18{width:16.904550px;}
._0{width:17.932800px;}
._e{width:19.926800px;}
._9{width:27.277735px;}
._1a{width:33.432406px;}
._c{width:67.268982px;}
._8{width:89.939875px;}
._5{width:106.457866px;}
._17{width:117.847120px;}
._a{width:430.910471px;}
._b{width:522.490666px;}
._f{width:765.528509px;}
._13{width:772.841639px;}
._12{width:788.498350px;}
._14{width:817.581513px;}
._d{width:893.563091px;}
._15{width:897.884054px;}
._16{width:950.526462px;}
.fc1{color:rgb(0,173,239);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:27.895200px;}
.fs1{font-size:39.850400px;}
.fs0{font-size:47.820800px;}
.y50{bottom:89.157000px;}
.y4f{bottom:101.112000px;}
.y7a{bottom:107.090000px;}
.y26{bottom:109.014000px;}
.y4e{bottom:113.068000px;}
.y25{bottom:120.969000px;}
.y24{bottom:136.909000px;}
.y78{bottom:138.971000px;}
.y4d{bottom:140.036000px;}
.y79{bottom:142.586000px;}
.y23{bottom:148.864000px;}
.y77{bottom:150.926000px;}
.y4c{bottom:151.991000px;}
.y4b{bottom:163.946000px;}
.y22{bottom:164.804000px;}
.y21{bottom:176.759000px;}
.y76{bottom:184.799000px;}
.y4a{bottom:187.857000px;}
.y20{bottom:188.715000px;}
.y75{bottom:196.754000px;}
.y1f{bottom:200.670000px;}
.y72{bottom:202.731000px;}
.y49{bottom:211.767000px;}
.y74{bottom:212.694000px;}
.y71{bottom:214.687000px;}
.y48{bottom:223.722000px;}
.y1e{bottom:224.580000px;}
.y73{bottom:224.649000px;}
.y70{bottom:226.642000px;}
.y1d{bottom:236.535000px;}
.y47{bottom:239.662000px;}
.y46{bottom:251.617000px;}
.y1c{bottom:252.476000px;}
.y6f{bottom:253.610000px;}
.y45{bottom:263.573000px;}
.y6e{bottom:265.565000px;}
.y1b{bottom:268.416000px;}
.y1a{bottom:284.356000px;}
.y44{bottom:287.483000px;}
.y6d{bottom:289.476000px;}
.y19{bottom:296.311000px;}
.y43{bottom:299.438000px;}
.y6c{bottom:301.431000px;}
.y42{bottom:311.393000px;}
.y18{bottom:312.251000px;}
.y6b{bottom:313.386000px;}
.y41{bottom:323.349000px;}
.y17{bottom:324.207000px;}
.y16{bottom:336.162000px;}
.y40{bottom:339.289000px;}
.y6a{bottom:340.354000px;}
.y3f{bottom:351.244000px;}
.y69{bottom:356.294000px;}
.y15{bottom:363.130000px;}
.y3e{bottom:363.199000px;}
.y68{bottom:368.250000px;}
.y14{bottom:375.085000px;}
.y3d{bottom:375.154000px;}
.y67{bottom:380.205000px;}
.y13{bottom:387.040000px;}
.y66{bottom:396.145000px;}
.y12{bottom:398.996000px;}
.y3c{bottom:402.123000px;}
.y65{bottom:408.100000px;}
.y11{bottom:410.951000px;}
.y3b{bottom:414.078000px;}
.y64{bottom:420.055000px;}
.y3a{bottom:430.018000px;}
.y63{bottom:435.996000px;}
.y39{bottom:441.973000px;}
.y62{bottom:447.951000px;}
.y10{bottom:449.874000px;}
.y38{bottom:453.928000px;}
.y61{bottom:459.906000px;}
.yf{bottom:461.829000px;}
.y37{bottom:469.869000px;}
.y35{bottom:471.861000px;}
.y60{bottom:475.846000px;}
.y36{bottom:481.824000px;}
.y34{bottom:483.816000px;}
.ye{bottom:485.740000px;}
.y5f{bottom:487.801000px;}
.yd{bottom:497.695000px;}
.y5e{bottom:499.756000px;}
.y33{bottom:510.784000px;}
.y5d{bottom:515.697000px;}
.yc{bottom:521.605000px;}
.y32{bottom:522.740000px;}
.y5b{bottom:527.652000px;}
.y5c{bottom:531.267000px;}
.yb{bottom:533.560000px;}
.y31{bottom:538.680000px;}
.y5a{bottom:539.607000px;}
.y30{bottom:550.635000px;}
.y59{bottom:551.562000px;}
.ya{bottom:557.471000px;}
.y2f{bottom:562.590000px;}
.y58{bottom:563.517000px;}
.y9{bottom:569.426000px;}
.y2e{bottom:586.501000px;}
.y57{bottom:587.428000px;}
.y8{bottom:596.394000px;}
.y2d{bottom:598.456000px;}
.y56{bottom:603.368000px;}
.y7{bottom:608.349000px;}
.y2c{bottom:610.411000px;}
.y55{bottom:619.308000px;}
.y2b{bottom:626.351000px;}
.y54{bottom:635.248000px;}
.y2a{bottom:638.306000px;}
.y53{bottom:647.204000px;}
.y6{bottom:647.273000px;}
.y29{bottom:650.261000px;}
.y5{bottom:657.298000px;}
.y52{bottom:659.159000px;}
.y4{bottom:659.228000px;}
.y28{bottom:662.217000px;}
.y3{bottom:671.183000px;}
.y2{bottom:683.138000px;}
.y51{bottom:686.127000px;}
.y0{bottom:698.000000px;}
.y27{bottom:698.082000px;}
.y1{bottom:710.037000px;}
.h1{height:1.000000px;}
.h6{height:19.359269px;}
.h4{height:27.656178px;}
.h5{height:27.815579px;}
.h3{height:29.887800px;}
.h2{height:33.474560px;}
.h0{height:792.000000px;}
.w1{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x8{left:165.600000px;}
.x9{left:180.544000px;}
.xa{left:190.507000px;}
.xd{left:203.652000px;}
.x7{left:215.213000px;}
.xb{left:218.335000px;}
.x4{left:229.176000px;}
.xc{left:230.922000px;}
.x2{left:249.917000px;}
.x1{left:256.527000px;}
.x3{left:280.939000px;}
.x5{left:333.782000px;}
.x6{left:339.013000px;}
.xe{left:440.439000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1c{margin-left:-6.354784pt;}
._3{margin-left:-4.463245pt;}
._1{margin-left:-1.976593pt;}
._4{width:1.487748pt;}
._11{width:4.197575pt;}
._1b{width:11.285633pt;}
._10{width:12.699007pt;}
._7{width:16.662754pt;}
._2{width:18.235556pt;}
._19{width:19.616971pt;}
._6{width:21.200413pt;}
._18{width:22.539399pt;}
._0{width:23.910400pt;}
._e{width:26.569067pt;}
._9{width:36.370313pt;}
._1a{width:44.576541pt;}
._c{width:89.691976pt;}
._8{width:119.919833pt;}
._5{width:141.943821pt;}
._17{width:157.129493pt;}
._a{width:574.547295pt;}
._b{width:696.654221pt;}
._f{width:1020.704679pt;}
._13{width:1030.455518pt;}
._12{width:1051.331134pt;}
._14{width:1090.108684pt;}
._d{width:1191.417454pt;}
._15{width:1197.178739pt;}
._16{width:1267.368617pt;}
.fs2{font-size:37.193600pt;}
.fs1{font-size:53.133867pt;}
.fs0{font-size:63.761067pt;}
.y50{bottom:118.876000pt;}
.y4f{bottom:134.816000pt;}
.y7a{bottom:142.786667pt;}
.y26{bottom:145.352000pt;}
.y4e{bottom:150.757333pt;}
.y25{bottom:161.292000pt;}
.y24{bottom:182.545333pt;}
.y78{bottom:185.294667pt;}
.y4d{bottom:186.714667pt;}
.y79{bottom:190.114667pt;}
.y23{bottom:198.485333pt;}
.y77{bottom:201.234667pt;}
.y4c{bottom:202.654667pt;}
.y4b{bottom:218.594667pt;}
.y22{bottom:219.738667pt;}
.y21{bottom:235.678667pt;}
.y76{bottom:246.398667pt;}
.y4a{bottom:250.476000pt;}
.y20{bottom:251.620000pt;}
.y75{bottom:262.338667pt;}
.y1f{bottom:267.560000pt;}
.y72{bottom:270.308000pt;}
.y49{bottom:282.356000pt;}
.y74{bottom:283.592000pt;}
.y71{bottom:286.249333pt;}
.y48{bottom:298.296000pt;}
.y1e{bottom:299.440000pt;}
.y73{bottom:299.532000pt;}
.y70{bottom:302.189333pt;}
.y1d{bottom:315.380000pt;}
.y47{bottom:319.549333pt;}
.y46{bottom:335.489333pt;}
.y1c{bottom:336.634667pt;}
.y6f{bottom:338.146667pt;}
.y45{bottom:351.430667pt;}
.y6e{bottom:354.086667pt;}
.y1b{bottom:357.888000pt;}
.y1a{bottom:379.141333pt;}
.y44{bottom:383.310667pt;}
.y6d{bottom:385.968000pt;}
.y19{bottom:395.081333pt;}
.y43{bottom:399.250667pt;}
.y6c{bottom:401.908000pt;}
.y42{bottom:415.190667pt;}
.y18{bottom:416.334667pt;}
.y6b{bottom:417.848000pt;}
.y41{bottom:431.132000pt;}
.y17{bottom:432.276000pt;}
.y16{bottom:448.216000pt;}
.y40{bottom:452.385333pt;}
.y6a{bottom:453.805333pt;}
.y3f{bottom:468.325333pt;}
.y69{bottom:475.058667pt;}
.y15{bottom:484.173333pt;}
.y3e{bottom:484.265333pt;}
.y68{bottom:491.000000pt;}
.y14{bottom:500.113333pt;}
.y3d{bottom:500.205333pt;}
.y67{bottom:506.940000pt;}
.y13{bottom:516.053333pt;}
.y66{bottom:528.193333pt;}
.y12{bottom:531.994667pt;}
.y3c{bottom:536.164000pt;}
.y65{bottom:544.133333pt;}
.y11{bottom:547.934667pt;}
.y3b{bottom:552.104000pt;}
.y64{bottom:560.073333pt;}
.y3a{bottom:573.357333pt;}
.y63{bottom:581.328000pt;}
.y39{bottom:589.297333pt;}
.y62{bottom:597.268000pt;}
.y10{bottom:599.832000pt;}
.y38{bottom:605.237333pt;}
.y61{bottom:613.208000pt;}
.yf{bottom:615.772000pt;}
.y37{bottom:626.492000pt;}
.y35{bottom:629.148000pt;}
.y60{bottom:634.461333pt;}
.y36{bottom:642.432000pt;}
.y34{bottom:645.088000pt;}
.ye{bottom:647.653333pt;}
.y5f{bottom:650.401333pt;}
.yd{bottom:663.593333pt;}
.y5e{bottom:666.341333pt;}
.y33{bottom:681.045333pt;}
.y5d{bottom:687.596000pt;}
.yc{bottom:695.473333pt;}
.y32{bottom:696.986667pt;}
.y5b{bottom:703.536000pt;}
.y5c{bottom:708.356000pt;}
.yb{bottom:711.413333pt;}
.y31{bottom:718.240000pt;}
.y5a{bottom:719.476000pt;}
.y30{bottom:734.180000pt;}
.y59{bottom:735.416000pt;}
.ya{bottom:743.294667pt;}
.y2f{bottom:750.120000pt;}
.y58{bottom:751.356000pt;}
.y9{bottom:759.234667pt;}
.y2e{bottom:782.001333pt;}
.y57{bottom:783.237333pt;}
.y8{bottom:795.192000pt;}
.y2d{bottom:797.941333pt;}
.y56{bottom:804.490667pt;}
.y7{bottom:811.132000pt;}
.y2c{bottom:813.881333pt;}
.y55{bottom:825.744000pt;}
.y2b{bottom:835.134667pt;}
.y54{bottom:846.997333pt;}
.y2a{bottom:851.074667pt;}
.y53{bottom:862.938667pt;}
.y6{bottom:863.030667pt;}
.y29{bottom:867.014667pt;}
.y5{bottom:876.397333pt;}
.y52{bottom:878.878667pt;}
.y4{bottom:878.970667pt;}
.y28{bottom:882.956000pt;}
.y3{bottom:894.910667pt;}
.y2{bottom:910.850667pt;}
.y51{bottom:914.836000pt;}
.y0{bottom:930.666667pt;}
.y27{bottom:930.776000pt;}
.y1{bottom:946.716000pt;}
.h1{height:1.333333pt;}
.h6{height:25.812358pt;}
.h4{height:36.874903pt;}
.h5{height:37.087439pt;}
.h3{height:39.850400pt;}
.h2{height:44.632747pt;}
.h0{height:1056.000000pt;}
.w1{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x8{left:220.800000pt;}
.x9{left:240.725333pt;}
.xa{left:254.009333pt;}
.xd{left:271.536000pt;}
.x7{left:286.950667pt;}
.xb{left:291.113333pt;}
.x4{left:305.568000pt;}
.xc{left:307.896000pt;}
.x2{left:333.222667pt;}
.x1{left:342.036000pt;}
.x3{left:374.585333pt;}
.x5{left:445.042667pt;}
.x6{left:452.017333pt;}
.xe{left:587.252000pt;}
}
